

.listWrap{
    align-self: center;
    padding: auto;
}

.listTable {
    display: block;
    color: black;
    border: solid 1px;
    border-color: #808080;
    padding: 5px 10px;
}

.thumnail {
    width: 100px;
    height: 100px;
}

.resName {
    text-align: left;
    color: black;
    font-weight: 600;
    width: 500px;
    font-size: 16px;

}

.rating {
    width: 200px;
}

